﻿
@{
    ViewBag.Title = "Order Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model LabelPrintingVestey.Models.LabelModel
<h2>Order Details</h2>
<style>
    .text-danger {
        font-color: #e60b0b;
    }

    .divDialog {
        border: 1px solid #8c8c8c;
        padding: 25px;
        box-shadow: 5px 10px 8px #888888;
        border-radius: 15px;
        border-spacing: 5px;
        display: none;
    }

    #lbldate {
        float: left
    }

    .close-image {
        display: block;
        float: right;
        position: relative;
        top: -10px;
        right: -10px;
        height: 20px;
    }
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript">
   // $('#PrintLabelbtn').click(function (e) {
       // e.preventDefault();

        // TODO: Validate input
        function labelprint() {
          // var data = {
          
                // $( "#msgbox" ).text( "printing..." ).show();
                var orderno = $('#txtOrderNo').val();
                var noofbox = $('#txtNoOfBoxes').val();
                var printer = $('#selprinter').find(":selected").val();

                // alert(printer);
                //if ($('#selprinter').find(":selected").val() == "object:5") {
                //    printer = "\\\\BFLHLWSVR0005\\LBL_HEN"
                //} else if ($('#selprinter').find(":selected").val() == "object:4") {
                //    printer = "\\\\BFLHLWSVR0005\\LBL_BOL";}
                //else if ($('#selprinter').find(":selected").val() == "object:3") {
                //    printer = "\\\\BFLHLWSVR0005\\LBL_WED";

                //}
                //$('#selprinter').find(":selected").val();
                // };

            $.ajax({
                type: "POST",
                url: '@Url.Action("PrintLabel","Label")',
                content: "application/json; charset=utf-8",
                dataType: "json",
                data: {'orderno' : orderno, 'noofbox' : noofbox, 'printer' : printer },
                success: function (d) {
                    if (d.success == true) {
                        // window.location = "index.html";
                        //alert("printing");
                       // $("#msgbox").text("printing...").show().fadeOut(1000);
                    }
                    else { }
                },
                error: function (xhr, textStatus, errorThrown) {
                    // TODO: Show error
                } //ng-click="GetRecordByDeliveryDate()"  onclick="labelprint();"
            });
          
        }
   // });
</script>


<div ng-controller="AppLabelController">
    <form name="myForm" ng-submit="GetRecordByDeliveryDate(myForm.$valid)">
        <h3>
            <label id="lbldate">Search Order by Delivery Date :</label> <input type="submit" class="btn btn-toolbar" value="Search" style="float:right;" />
            <span style="overflow: hidden; padding-right: .5em;"><input class="form-control" id="dt" type="date" ng-change="changeformat()" ng-model="searchbyDeliveryDate" name="searchdate" required></span>
        </h3>
        <span class="error" ng-show="myForm.searchdate.$touched && myForm.searchdate.$invalid" style="float:right">*Delivery date is required.</span>
    </form>

 
        <div class="container">
            <hr style="margin-right:40px; width:100%" />
            <div class="row">
                <div class="col-25">
                    <label>Select Printer</label>
                </div>
                <div class="col-75">
                    @*<select ng-init="PrintModel.Printer = options[0]" ng-model="PrintModel.Printer"
                                ng-options="a.name for a in printer" id="selprinter" ng-model-options="">
                            <option value="">-- Select Printer --</option>
                        </select>*@

                    <select ng-model="PrintModel.Printer" id="selprinter" ng-init="PrintModel.Printer = options[0]" required name="selprinter">
                        <option value="">-- Select Printer --</option>
                        <option ng-repeat="item in printer" value="{{item.type}}">{{item.name}}</option>
                    </select>
                    @*<span class="error" ng-show="(myform1.selprinter.$dirty || submitted) && myform1.selprinter.$error.required">Please select printer</span>*@
                    @*<select ng-model="PrintModel.Printer" ng-options="item.type as item.name for item in printer"></select>*@
                </div>
            </div>
        </div>
        <br />



        <div class="container divDialog">

            <img class="close-image" src="~/Images/icons8-close-window-26.png" ng-click="hidePrintDailog()" />
            <div class="row">
                <div class="col-25">
                    <label for="fname">Order No.(or Oracle Order No.):</label>
                </div>
                <div class="col-75">
                    <input class="textbox" type="text" ng-model="PrintModel.OrderNo" id="txtOrderNo" required name="txtOrderno" />
                    @*<span class="error" ng-show="(myform1.txtOrderno.$dirty || submitted) && myform1.txtOrderno.$error.required">Order no. is Required</span>*@
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="lname">No.Of Boxes:</label>
                </div>
                <div class="col-75">
                    <input class="textbox" type="text" ng-model="PrintModel.NoOfBoxes" id="txtNoOfBoxes" required name="txtnoboxes" />
                    @*<span class="error" ng-show="(myform1.txtnoboxes.$dirty || submitted) && myform1.txtnoboxes.$error.required">No.Of boxes is Required</span>*@
                </div>
            </div>

            <div class="row">
                <div class="col-25">
                </div>
                <div class="col-75" style="float:right;">
                    <input type="submit" class="btn btn-toolbar" value="Print Label" id="PrintLabelbtn" onclick="labelprint();"/>
                    <span id="msgbox"></span>
                </div>
            </div>
        </div>
   

    <h2 style="text-align:center">List of All Orders</h2>
    <br>
    <hr />
    <div>
        <p><input type="text" ng-model="Anytext" placeholder="Free text search"></p>
    </div>
    <div>
        <table class="table">
            <tr>
                <th>ID</th>
                <th>Oracle OrderNo.</th>
                <th>Depot</th>
                <th>Customer Code</th>
                <th>Account Name</th>
                <th>Account Location</th>
                <th>OrderNo.</th>

                <th>Delivery Date</th>
            </tr>
            <tr ng-repeat="ord in Orders | filter : Anytext">

                <td>{{ord.ID}}</td>
                <td>{{ord.OracleOrderNo}}</td>
                <td>{{ord.CustomerSite}}</td>
                <td>{{ord.CustomerAccountCode}}</td>
                <td>{{ord.CustomerAccountName}}</td>
                <td>{{ord.CustomerAccountLocation}}</td>
                <td>{{ord.OrderNo}}</td>

                <td>{{ord.CustomerDeliveryDate}}</td>
                <td>
                    <input type="button" class="btn btn-toolbar" value="Print" ng-click="ShowPrintDialog(ord)" />
                   
                </td>
            </tr>
        </table>
    </div>
</div>

